<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hobbyfællesskbsapplikation</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1>Velkommen til Hobbyfællesskbsapplikationen</h1>
        </header>
        <main>
            <section>
                <h2>Grupper</h2>
                <!--- Formular til at oprette ny gruppe -->
                <div class="form-container">
                    <h3>Opret ny gruppe</h3>
                    <form id="group-form">
                        <div class="form-group">
                            <label for="groupName">Gruppenavn:</label>
                            <input type="text" id="groupName" required>
                        </div>

                        <div class="form-group">
                            <label for="groupDescription">Beskrivelse:</label>
                            <textarea id="groupDescription" rows="3"></textarea>
                        </div>

                        <button type="submit">Opret gruppe</button>
                    </form>
                </div>

                <div class="table-container">
                    <h3></h3>
                </div>

                </div>
                <script>
                    //hent alle grupper
                    async function loadGroups() {
                        try { 
                            const response = await fetch('http://localhost:3000/groups');
                            const groups = await response.json();

                            const tableBody = document.getElementById('groupsTbale');

                            tableBody.innerHTML = groups.map(group => `
                                <tr>
                                    <td>${group.name}</td>
                                    <td>${group.description}</td>
                                    <td>${new Date(group.createdAt).toLocaleDateString('da-DK')}</td>
                                </tr>
                            `).join('');
                        } catch (error) {
                            console.error('Fejl ved hentning af grupper:', error);
                        }
                    }
                </script>
    </body>
</html>